Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Werkzeug==3.0.3
psycopg2-binary==2.9.9
python-dotenv==1.0.1
gunicorn==22.0.0
honcho==1.1.0
pynose==1.5.3
coverage==7.5.4
flake8==7.0.0
pylint==3.2.5
flask-talisman==1.1.0
flask-cors==4.0.1
